@import 'tailwindcss';

@theme {
  --color-light: #f5f7ff;
  --color-medium: #cbd5e1;
  --color-dark: #1d1e20;
  --color-dark-hover: #262831;
  --color-dark-input: #181717;
}

body {
  font-family: var(--font-hind-siliguri), sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #cbd5e1;
}

th {
  background-color: #1d1e20;
  color: #f5f7ff;
}

tr:hover {
  background-color: #1d1e20;
  color: #cbd5e1;
}
